.Item {
  &Container {
    border: 1px solid white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    max-width: 120px;
    width: 120px;
    overflow: hidden;
    &Text {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
    &:hover{
      background: #1d1919;
      color: #ffffff;
    }
  }
  &Icon {
    svg {
      font-size: 30px;
    }
  }
}