.windowContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.windowBody{
  overflow: hidden;
  flex: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: baseline;
}

.windowFooter {
  height: 50px;
  border: 1px solid black;
}