.node-js-article{
  &-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-box {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: #f0f0f0;
    overflow: hidden;
    box-shadow:  0 0 0 #cccccc,
    0 0 0 #ffffff,
    10px 10px 10px #cccccc inset,
    -10px -10px 10px #ffffff inset;
    animation-fill-mode: backwards;
    animation: ease-in;
    margin: 10px;
    &:active{
      box-shadow: 10px 10px 10px #cccccc,
      10px 10px 10px #ffffff,
      0 0 0 #cccccc inset,
      0 0 0 #ffffff inset;
    }
    &-expanded {
      animation: anime 1.5s cubic-bezier(0.37, 0.46, 0.44, 0.33) 1s alternate;
      animation-fill-mode: forwards;
    }
    &-not-expanded{
      animation: not-anime 1.5s cubic-bezier(0.37, 0.46, 0.44, 0.33) 1s alternate;
      animation-fill-mode: backwards;
    }
  }

  @keyframes not-anime {
    100% {
      width: 60px;
      height: 60px;
      background: #f0f0f0;
      box-shadow: 0 0 0 #cccccc,
      0 0 0 #ffffff,
      10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
    }
    50% {
      width: 60px;
      height: 60px;
      background: #f8f8f8;
      box-shadow: 10px 10px 10px #cccccc,
      10px 10px 10px #ffffff,
      0 0 0 #cccccc inset,
      0 0 0 #ffffff inset;
    }
    25% {
      width: 60px;
      height: 240px;
      background: #f8f8f8;
      box-shadow: 10px 10px 10px #cccccc,
      10px 10px 10px #ffffff,
      0 0 0 #cccccc inset,
      0 0 0 #ffffff inset;
    }
    0% {
      width: 95vw;
      height: 95vh;
      background: #fafafa;
      box-shadow: 40px 40px 40px #cccccc,
      0 0 0 #ffffff,
      0 0 0 #cccccc inset,
      2px 2px 2px #ffffff inset;
    }
  }

  @keyframes anime {
    0% {
      width: 60px;
      height: 60px;
      background: #f0f0f0;
      box-shadow: 0 0 0 #cccccc,
      0 0 0 #ffffff,
      10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
    }
    25% {
      width: 60px;
      height: 60px;
      background: #f8f8f8;
      box-shadow: 10px 10px 10px #cccccc,
      10px 10px 10px #ffffff,
      0 0 0 #cccccc inset,
      0 0 0 #ffffff inset;
    }
    50% {
      width: 60px;
      height: 240px;
      background: #f8f8f8;
      box-shadow: 10px 10px 10px #cccccc,
      10px 10px 10px #ffffff,
      0 0 0 #cccccc inset,
      0 0 0 #ffffff inset;
    }
    100% {
      width: 95vw;
      height: 95vh;
      background: #fafafa;
      box-shadow: 40px 40px 40px #cccccc,
      0 0 0 #ffffff,
      0 0 0 #cccccc inset,
      2px 2px 2px #ffffff inset;
    }
  }
}